
# sbt specific
dist/*
target/
boot/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.cache

# Scala-IDE specific
.scala_dependencies
.classpath
.project
.settings/
# st2
*.sublime-project
*.sublime-workspace
# Intellij Idea IDE specific
.idea/

# data folders
data/in/
data/out/

credentials.sbt
*credentials*
