
# sbt specific
dist/*
target/
boot/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.cache

# Scala-IDE specific
.scala_dependencies
.classpath
.project
.settings/
# st2
*.sublime-project
*.sublime-workspace
# Intellij Idea IDE specific
.idea/

# data folders
data/in/
data/out/

credentials.sbt
*credentials*

# for import tests
raw/
raw/*
ImportUniProtGo_home_edu_repos_bio4j_bio4j-titan_target_test-classes_file_uniprot_sprot.log
ImportUniProtGoStats_uniprot_sprot.txt
ImportUniRefStats.txt
ImportUniRefTitan.log
bio4j_metrics/

# EnzymeDB data import
ImportEnzymeDB.log
ImportEnzymeDBStats.txt
